@{
    ViewBag.Title = "Start Page";
}
<div class="col-md-3">
    <img src="~/Content/Images/Serdan_bara.jpg" />
</div>
<div class="col-md-6">
    <h2>Välkommen till denna guide till Serdan.</h2>
</div>
<div class="col-md-3">
    <img src="~/Content/Images/Edlosi_bara.jpg" />
</div>