@model ATravelersGuideToSerdan.Models.ViewModels.NpcGeneralViewModel

<li>
    @Ajax.ActionLink(Model.NpcName, "GetNpc", "NPC", new { Id = Model.NpcId },
    new AjaxOptions { UpdateTargetId="ContentBody", InsertionMode=InsertionMode.Replace})
</li>
