
@{
    ViewBag.Title = "NpcIndex";
}

<h2>NpcIndex</h2>

<div>
    @Ajax.ActionLink("Serdan", "GetNpcs", "NPC", new { race = "Serdan" },
    new AjaxOptions{UpdateTargetId = "Contentbody",InsertionMode = InsertionMode.Replace})

</div>
<div>

    @Ajax.ActionLink("Edlosi", "GetNpcs", "NPC", new { race = "Edlosi" }, 
    new AjaxOptions { UpdateTargetId="ContentBody",InsertionMode=InsertionMode.Replace})

</div>
<div>
    @Ajax.ActionLink("Andra", "GetNpcs", "NPC", new { race = "other" },
    new AjaxOptions {UpdateTargetId="ContentBody",InsertionMode=InsertionMode.Replace })
</div>

<div>
    @Ajax.ActionLink("Spelare", "GetNpcs", "NPC", new { race = "player" },
    new AjaxOptions { UpdateTargetId="ContentBody",InsertionMode=InsertionMode.Replace})
</div>